{% extends 'base.html' %}

{% block heading %}
<h3>
    <span class="glyphicon glyphicon-filter"></span> Filter Data
    <small>
        <a href="{% url 'glucose_charts' %}">Charts & Graphs</a>
        | <a href="{% url 'glucose_email_report' %}">Email Report</a>
    </small>
</h3>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-sm-4 col-md-4">
            <div id="accordion" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody">
                        Options<span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseBody" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-8">
            <div class="well">
                <table id="glucose_table">
                    <thead>
                        <tr>
                            <th width="10%"><center>Value</center></th>
                            <th width="15%">Category</th>
                            <th width="15%">Date</th>
                            <th width="15%">Time</th>
                            <th width="35%">Notes</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                </table>
                <br>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block extracss %}
<link href="{{ STATIC_URL }}datatables/media/css/jquery.dataTables.css" rel="stylesheet">
<link href="{{ STATIC_URL }}datatables/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script src="{{ STATIC_URL }}scripts/scripts.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var oTable = $('#glucose_table').dataTable( {
        "sDom": 'T<"clear">lrtip',
        "oTableTools": {
            "sSwfPath": "{{ STATIC_URL }}datatables/extras/TableTools/media/swf/copy_csv_xls_pdf.swf",
            "aButtons": [ "csv", "pdf", "print" ]
        },
        "aLengthMenu": [
            [10, 25, 50, 100, 200, 300],
            [10, 25, 50, 100, 200, 300],
        ],
        "iDisplayLength": 25,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{{ data }}",
        "aaSorting": [ [2,'desc'], [3,'desc']],
        // Disable sorting for the Actions column.
        "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 5 ] } ]
    });

    // Submit the filter form and refresh the table data
    var frm = $('#filter_form');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                // Reload the table data. This function is located in
                // scripts/scripts.js.
                oTable.fnReloadAjax(data);

                // Re-enable the submit button.
                $('#submit-id-submit').prop('disabled', false);
            },
            error: function(data) {
                alert('Sorry, something went wrong. Please try again.');
            }
        });
        return false;
    });


    // For changing the icon in the Options panel
    $('.collapse').on('shown.bs.collapse', function(){
        $(this).parent().find(".glyphicon-chevron-down")
            .removeClass("glyphicon-chevron-down")
            .addClass("glyphicon-chevron-up");
    }).on('hidden.bs.collapse', function(){
        $(this).parent().find(".glyphicon-chevron-up")
            .removeClass("glyphicon-chevron-up")
            .addClass("glyphicon-chevron-down");
    });

    $('#id_start_date').datetimepicker({
        pickTime: false
    });

    $('#id_end_date').datetimepicker({
        pickTime: false
    });

    // Change start_date value when select field value changes.
    $('#id_quick_date_select').change(function(){
        var currentDate = new Date();
        currentDate.setDate(currentDate.getDate() -
            $('#id_quick_date_select').val());
        var dateString = (currentDate.getMonth()+1) + "/"
            + currentDate.getDate() + "/"
            + currentDate.getFullYear();

        $('#id_start_date').val(dateString);
    });
});
</script>
{% endblock %}