{% extends 'base.html' %}

{% block heading %}<h3>
    <span class="glyphicon glyphicon-remove"></span> Delete Glucose</h3>{% endblock %}

{% block content %}
<div class="form-group">
    <form action="{% url 'glucose_delete' glucose.id %}" method="post">
        {% csrf_token %}
        <p>Deleting glucose <b>{{ glucose.value }} ({{ glucose.category }})</b>. Are you sure?</p>
        <br>
        <button type="submit" class="btn btn-primary" action="submit">Yes, I'm sure</button>
        <button type="button" class="btn" onclick="location.href=&quot;{% url 'glucose_update' glucose.id %}&quot;;">Cancel</button>
    </form>
</div>
{% endblock %}