{% extends 'base.html' %}

{% block extracss %}
<link href="{{ STATIC_URL }}datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block heading %}<h3>
    <span class="glyphicon glyphicon-envelope"></span> Email Report</h3>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
   {% crispy form %}
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}momentjs/moment.min.js"></script>
<script src="{{ STATIC_URL }}datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
$(function () {
    $('#id_start_date').datetimepicker({
        pickTime: false
    });
});

$(function () {
    $('#id_end_date').datetimepicker({
        pickTime: false
    });
});
</script>
{% endblock %}