{% extends 'base.html' %}

{% block heading %}
    <h3><span class="glyphicon glyphicon-plus"></span> Add Glucose</h3>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
   {% crispy form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function () {
    $('#id_record_date').datetimepicker({
        pickTime: false
    });

    // Sets the value of the submit_button_type field if the 'Submit & Add
    // Another button is clicked.
    $('#submit-id-submit_and_add').click(function() {
        $('#id_submit_button_type').val('submit_and_add');
    });
});

</script>
{% endblock %}