{% extends 'base.html' %}

{% block extracss %}
<link href="{{ STATIC_URL }}datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block heading %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
   {% crispy form %}
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}momentjs/moment.min.js"></script>
<script src="{{ STATIC_URL }}datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
{% block extrajsfunction %}{% endblock %}
</script>
{% endblock %}