{% extends 'glucoses/glucose_input_form.html' %}

{% block heading %}<h3>
    <span class="glyphicon glyphicon-plus"></span> Add Glucose</h3>{% endblock %}

{% block extrajsfunction %}
var currentdate = new Date();
var date_now = (currentdate.getMonth()+1)  + "/"
                + currentdate.getDate() + "/"
                + currentdate.getFullYear() + " @ "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes();

$(function () {
    $('#id_record_date').datetimepicker({
        defaultDate: date_now,
        pickTime: false
    });
});

$(function () {
    $('#id_record_time').datetimepicker({
        defaultDate: date_now,
        pickDate: false
    });
});
{% endblock %}