{% extends 'base.html' %}

{% block heading %}
    <h3><span class="glyphicon glyphicon-pencil"></span> Edit Glucose</h3>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
   {% crispy form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function () {
    $('#id_record_date').datetimepicker({
        pickTime: false
    });

    {# Currently not working properly with existing time value, shows 'Invalid date' #}
    <!--$('#id_record_time').datetimepicker({-->
        <!--pickDate: false-->
    <!--});-->
});
</script>
{% endblock %}
