{% extends 'base.html' %}

{% block extracss %}
<link href="{{ STATIC_URL }}datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block heading %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
   {% crispy form %}
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}momentjs/moment.min.js"></script>
<script src="{{ STATIC_URL }}datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
$(function() {
    $('#id_value').focus()
});

var currentdate = new Date();
var date_now = (currentdate.getMonth()+1)  + "/"
                + currentdate.getDate() + "/"
                + currentdate.getFullYear() + " @ "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes();

$(function () {
    $('#id_record_date').datetimepicker({
        defaultDate: date_now,
        pickTime: false
    });
});

$(function () {
    $('#id_record_time').datetimepicker({
        defaultDate: date_now,
        pickDate: false
    });
});
</script>
{% endblock %}