{% extends 'base.html' %}

{% block heading %}
    <h3><span class="glyphicon glyphicon-filter"></span> Filter Data</h3>
{% endblock %}

{% block content %}
<div class="well">
    <table id="glucose_table">
        <thead>
            <tr>
                <th width="10%"><center>Value</center></th>
                <th width="20%">Category</th>
                <th width="15%">Date</th>
                <th width="15%">Time</th>
                <th width="40%">Notes</th>
            </tr>
        </thead>
    </table>
    <br>
</div>
{% endblock %}

{% block extracss %}
<link href="{{ STATIC_URL }}datatables/media/css/jquery.dataTables.css" rel="stylesheet">
<link href="{{ STATIC_URL }}datatables/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#glucose_table').dataTable( {
        "sDom": 'T<"clear">lrtip',
        "oTableTools": {
            "sSwfPath": "{{ STATIC_URL }}datatables/extras/TableTools/media/swf/copy_csv_xls_pdf.swf",
		    "aButtons": [ "csv", "pdf", "print" ]
        },
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url 'glucose_list_json' %}",
        "aaSorting": [ [2,'desc'], [3,'desc']]
    } );
} );
</script>
{% endblock %}