{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}GlucoseTracker.net{% endblock %}</title>

        <!-- CSS -->
        {% compress css %}
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
        {% block extracss %}{% endblock %}
        {% endcompress %}

        <!-- Add custom CSS here -->
        {% block customcss %}
            <style>
                body {margin-top: 40px;}
            </style>
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                  <span class="glyphicon glyphicon-tint"></span> GlucoseTracker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        {{ user }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Account Settings</a></li>
                      <li><a href="#">Change Password</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Help</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                    </li>
                  {% else %}
                    <form class="navbar-form navbar-right">
                    <button type="button" class="btn btn-success"
                        onclick="location.href=&quot;{% url 'login' %}&quot;;">
                        Log In</button>
                    </form>
                  {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>

        {% block rootcontainer %}
        <div class="container">
          <div class="row">
            {% block breadcrumbs %}{% endblock %}
            <div class="col-lg-12">
                <div class="page-header">
                    {% block heading %}{% endblock %}
                </div>
                {% block content %}{% endblock %}
            </div>
          </div>
        </div><!-- /.container -->
        {% endblock %}

        <!-- JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% compress js %}
        <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        {% block extrajs %}{% endblock %}
        {% endcompress %}

        <!-- Asynchronous Google Analytics snippet. mathiasbynens.be/notes/async-analytics-snippet -->
        <script>
            var _gaq=[['_setAccount','UA-45698014-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    {% endblock %}
    </body>
</html>