{% extends 'base.html' %}

{% block extracss %}
<link href="{{ STATIC_URL }}bootstrap/css/jumbotron.css" rel="stylesheet">
{% endblock %}

{% block rootcontainer %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><b>Welcome!</b></h1>
        <p>
            <i>GlucoseTracker</i> is a <b>free</b>, <b>simple</b> and <b>easy to use</b>
            web application for keeping track of your blood glucose levels and help you
            manage your diabetes better.
            <br><br>
            The app is currently still under development, but feel free to enter your
            email address below or <a href="mailto:support@glucosetracker.net">
            email us</a> to get notified when it becomes available!
        </p>
        <p>
            <form class="form-horizontal" role="form">
                <div class="form-group col-xs-4">
                  <input class="form-control input-lg" type="text"
                     placeholder="Enter your email address">
                </div>&nbsp;
                <button type="submit" class="btn btn-primary btn-lg">Send</button>
            </form>
        </p>
      </div>
    </div>
{% endblock %}