{% extends 'base.html' %}

{% block extracss %}
<link href="{{ STATIC_URL }}bootstrap/css/jumbotron.css" rel="stylesheet">
{% endblock %}

{% block rootcontainer %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><b>Welcome!</b></h1>
        <p>
            <i>GlucoseTracker</i> is a <b>free</b>, <b>simple</b> and <b>easy to use</b>
            web application for keeping track of your blood glucose levels and help you
            manage your diabetes better.
            <br><br>
            The app is currently still under development, but feel free to enter your
            email address below or <a href="mailto:info@glucosetracker.net">
            email us</a> to get notified when it becomes available!
        </p>

        {% if success %}
            <p class="text-success">Thank you! We will notify you when GlucoseTracker becomes available.</p>
        {% elif exists %}
          <p class="text-success">You've already entered this email address. Thank you!</p>
        {% elif error %}
            <p class="text-danger">An error occurred. Please try again.</p>
        {% endif %}

        <p>
            <form class="form-horizontal" action="{% url 'subscribe' %}" method="post">
                {% csrf_token %}
                <div class="form-group col-xs-4">
                  <input name="email" id="id_email" class="form-control input-lg" type="email"
                     placeholder="Enter your email address" required autofocus>
                </div>&nbsp;
                <button type="submit" class="btn btn-primary btn-lg">Send</button>
            </form>
        </p>

        <p><br>
            If you'd like to see how the application looks so far, then
            <a href="http://demo.glucosetracker.net/">click here for a live demo</a>.
      </div>
    </div>
{% endblock %}