{% extends 'base.html' %}

{% block extracss %}
<link href="{{ STATIC_URL }}bootstrap/css/signin.css" rel="stylesheet">
{% endblock %}

{% block rootcontainer %}
<div class="container">
  <form class="form-signin" name="loginform" action="/login/" method="post">
    {% csrf_token %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <h2 class="form-signin-heading">Please Log In</h2>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    {% if login_failed %}
      <p class="text-danger">Sorry, that login was invalid.  Please try again.</p>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
  </form>
</div>
{% endblock %}