{% extends "base.html" %}
{% load i18n %}

{% block heading %}
<h3><span class="glyphicon glyphicon-lock"></span> Forgot Password</h3>
{% endblock %}

{% block content %}
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<br>
<form class="form" action="" method="post">{% csrf_token %}

<div class="form-group">
    {{ form.email.errors }}
    <label for="id_email" class="col-md-2 control-label">{% trans 'Email Address' %}</label>
    {{ form.email }}
</div>

<div class="form-group">
    <div class="col-md-2">
        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary" />
    </div>
</div>
</form>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    document.getElementById("id_email").focus();
</script>
{% endblock %}