{% extends "base.html" %}
{% load i18n static %}

{% block heading %}
<h3><span class="glyphicon glyphicon-lock"></span> Change Password</h3>
{% endblock %}

{% block content %}
<div id="content-main">

<form class="form" action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="text-danger">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}

<div class="form-group">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="col-md-2 control-label">{% trans 'Old Password' %}</label>
    {{ form.old_password }}
</div>

<div class="form-group">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="col-md-2 control-label">{% trans 'New Password' %}</label>
    {{ form.new_password1 }}
</div>

<div class="form-group">
    {{ form.new_password2.errors }}
    <label for="id_new_password2" class="col-md-2 control-label">{% trans 'Password (again)' %}</label>
    {{ form.new_password2 }}
</div>

<div class="form-group">
    <div class="col-md-2">
        <input type="submit" value="{% trans 'Change My Password' %}" class="btn btn-primary" />
    </div>
</div>

</div>
</form>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    document.getElementById("id_old_password").focus();
</script>
{% endblock %}
