{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block heading %}
    <h3><span class="glyphicon glyphicon-th"></span> Dashboard</h3>
{% endblock %}

{% block content %}
<div class="container">
{% if sticky_message %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ sticky_message.message|safe }}
    </div>
{% endif %}
    
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="btn-toolbar well" role="toolbar">
                <div class="btn-group">
                    <a href="{% url 'glucose_create'%}">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> New Glucose</button>
                    </a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-stats"></span> Reports
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'glucose_filter' %}">Filter Data</a></li>
                    <li><a href="{% url 'glucose_charts' %}">Charts & Graphs</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'glucose_email_report' %}">E-mail Report</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="btn-toolbar well" role="toolbar">
                <div class="text-center">{% crispy form %}</div>
            </div>
        </div>
    </div> <!-- end row -->

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title text-center">
                                <b>Latest Reading</b>
                            </h5>
                        </div>
                        <div class="panel-body">
                            <h3 id="id_latest_entry"></h3>
                            <p id="id_twitter_button" class="text-center"></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="panel panel-default">
                        <div id="id_hba1c_panel" class="panel-heading" data-toggle="tooltip"
                             title="Based on the average blood glucose from the last 90 days.">
                            <h3 class="panel-title text-center">
                                <b>HbA1c Estimate*</b>
                            </h3>
                        </div>
                        <div class="panel-body" style="padding-bottom:24px">
                            <h3 id="id_hba1c"></h3>
                        </div>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                <b>14-Day Breakdown</b>
                            </h3>
                        </div>
                        <table class="table table-condensed">
                            <tr>
                                <td><b>Lows</b></td>
                                <td id="id_lows"></td>
                                <td><b>Lowest</b></td>
                                <td id="id_lowest" align="right"></td>
                            </tr>
                            <tr>
                                <td><b>Highs</b></td>
                                <td id="id_highs"></td>
                                <td><b>Highest</b></td>
                                <td id="id_highest" align="right"></td>
                            </tr>
                            <tr>
                                <td><b>Within Target</b></td>
                                <td id="id_within_target"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Other</b></td>
                                <td id="id_other"></td>
                                <td><b>Average</b></td>
                                <td id="id_average" align="right"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end col -->

        <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div id="chart_panel" class="panel-body" style="width:100%;height:343px"></div>
            </div>
        </div> <!--end col -->

    </div> <!-- end row -->
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="well">
                <table id="glucose_table">
                    <thead>
                        <tr>
                            <th width="10%"><center>Value</center></th>
                            <th width="20%">Category</th>
                            <th width="15%">Date</th>
                            <th width="15%">Time</th>
                            <th width="40%">Notes</th>
                        </tr>
                    </thead>
                </table><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
<link href="{{ STATIC_URL }}datatables/media/css/jquery.dataTables.css" rel="stylesheet">
<link href="{{ STATIC_URL }}datatables/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
<script src="{{ STATIC_URL }}scripts/scripts.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_hba1c_panel').tooltip();

    // Update stats in panels
    var statsUrl = "{% url 'stats_json' %}";
    function loadStats() {
        $.getJSON(statsUrl,
            function(data) {
                document.getElementById('id_latest_entry').innerHTML =
                    data['stats']['latest_entry']['value'];
                document.getElementById('id_latest_entry').className =
                    "text-center " + data['stats']['latest_entry']['css_class'];

                document.getElementById('id_hba1c').innerHTML =
                    data['stats']['hba1c']['value'];
                document.getElementById('id_hba1c').className =
                    "text-center " + data['stats']['hba1c']['css_class'];
                    
                /*document.getElementById('id_num_records').innerHTML =
                    data['stats']['num_records'];*/

                document.getElementById('id_lowest').innerHTML =
                    data['stats']['breakdown']['lowest']['value'];
                document.getElementById('id_lowest').className =
                    data['stats']['breakdown']['lowest']['css_class'];
                    
                document.getElementById('id_highest').innerHTML =
                    data['stats']['breakdown']['highest']['value'];
                document.getElementById('id_highest').className =
                    data['stats']['breakdown']['highest']['css_class'];
                    
                document.getElementById('id_average').innerHTML =
                    data['stats']['breakdown']['average']['value'];
                document.getElementById('id_average').className =
                    data['stats']['breakdown']['average']['css_class'];

                document.getElementById('id_highs').innerHTML =
                    data['stats']['breakdown']['highs'];
                document.getElementById('id_lows').innerHTML =
                    data['stats']['breakdown']['lows'];
                document.getElementById('id_within_target').innerHTML =
                    data['stats']['breakdown']['within_target'];
                document.getElementById('id_other').innerHTML =
                    data['stats']['breakdown']['other'];

                var twitter_text = "#bgnow "
                    + data['stats']['latest_entry']['value']
                    + " (" + data['stats']['latest_entry']['record_time']
                    + ") " + data['stats']['latest_entry']['notes'];
                // Remove leading and trailing spaces
                twitter_text = twitter_text.trim();
                updateTwitterValues(twitter_text, 'glucosetracker');
            }
        )};

    loadStats();


    // Glucose Average by Day chart
     var avgByDayOptions = {
        chart: {
            renderTo: 'chart_panel',
            type: 'line',
        },
        legend: {enabled: false},
        title: {text: 'Average Glucose by Day'},
        subtitle: {text: 'Last 14 Days'},
        xAxis: {title: {text: null}, labels: {rotation: -45}},
        yAxis: {title: {text: null}},
        series: [{}],
    };

    var chartDataUrl = "{% url 'chart_data_json' %}?name=avg_by_day&days=14";
    function loadChart() {
        $.getJSON(chartDataUrl,
            function(data) {
                avgByDayOptions.xAxis.categories = data['chart_data']['dates'];
                avgByDayOptions.series[0].name = 'Avg Glucose (mg/dL)';
                avgByDayOptions.series[0].data = data['chart_data']['values'];
                var chart = new Highcharts.Chart(avgByDayOptions);
         });
     }

    loadChart();


    var oTable = $('#glucose_table').dataTable( {
        "sDom": 'T<"clear">lrtip',
        "oTableTools": {
            "sSwfPath": "{{ STATIC_URL }}datatables/extras/TableTools/media/swf/copy_csv_xls_pdf.swf",
		    "aButtons": [ "csv", "pdf", "print" ]
        },
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url 'glucose_list_json' %}",
        "aaSorting": [ [2,'desc'], [3,'desc']]
    } );

    // Add the glucose value and refresh the table data
    var frm = $('#quick_add_form');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: "{% url 'glucose_quick_add' %}",
            data: frm.serialize(),
            success: function (data) {
                var message = jQuery.parseJSON(data);
                if (message['success']) {
                    // Reload the table data. This function is located in
                    // scripts/scripts.js.
                    oTable.fnReloadAjax();

                    // Reload the chart and stats panels
                    loadStats();
                    loadChart();

                    document.getElementById('quick_add_form').reset();
                    $('#id_value').focus();

                    // Re-enable the submit button.
                    $('#submit-id-submit').prop('disabled', false);
                }
                else {
                    alert(message['error']);
                    $('#id_value').focus().select();
                }
            },
            error: function(data) {
                alert('Sorry, something went wrong. Please try again.');
            }
        });
        return false;
    });

    // For Twitter button
    function updateTwitterValues(text, via) {
      $('#id_twitter_button').html('<a href="https://twitter.com/share?url=/" class="twitter-share-button" data-dnt="true" data-text="' + text +'" data-count="none" data-via="' + via +'">Tweet</a>');
      twttr.widgets.load();
    }

    !function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0];

    if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;
        js.src="https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
    }}

    (document,"script","twitter-wjs");
} );
</script>
{% endblock %}