{% extends 'base.html' %}

{% block heading %}
    <h3><span class="glyphicon glyphicon-question-sign"></span> Help</h3>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    {% crispy form %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function () {
    // Disable the submit button of the form after clicking to prevent multiple
    // submissions.
    $('form').submit(function(){
        $(this).find('input[type=submit]').attr('disabled', 'disabled');
    });
});
</script>
{% endblock %}